body {
    font-family: 'Arial', sans-serif;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #333;
}

.container {
    display: flex;
    background-color: #FFFFFF;
    border-radius: 8px;
    max-width: 1200px;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.login-form {
    padding: 40px;
    flex: 1;
    text-align: center;
}

.login-form h1 {
    margin-bottom: 30px;
    color: #333;
    font-size: 2rem;
    font-weight: 300;
}

.login-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form label {
    font-size: 1rem;
    color: #333;
    text-align: left;
    width: 100%;
    margin-bottom: 5px;
}

.login-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #F9F9F9;
    color: #333;
    font-size: 1rem;
    box-sizing: border-box;
}

.login-form input::placeholder {
    color: #999;
}

.login-form input:focus {
    border-color: #4a90e2;
    outline: none;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

.login-form button {
    width: 100%;
    padding: 12px;
    background-color: #4a90e2;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #357ab7;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    min-height: 300px; /* Define uma altura mínima para a imagem */
}

.image-container img {
    width: 100%;
    height: 100%; /* Faz a imagem ocupar toda a altura do container */
    object-fit: cover; /* Cobre completamente a área */
}

.form-group {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.form-group input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
    transform: translateY(60%);
}

.form-group label {
    margin: 0;
    color: #333;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.error-message {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.success-message {
    color: green;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.signup-link {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #555;
    text-align: center;
}

.signup-link a {
    color: #4a90e2;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.signup-link a:hover {
    color: #357ab7;
}

@media (max-width: 1160px) {
    .container {
        flex-direction: column;
    }

    .image-container {
        width: 100%;
        height: auto;
    }

    .image-container img {
        width: 100%;
        height: auto;
        max-height: 100%;
        object-fit: cover;
    }
}

/* Media Queries para melhorar a responsividade */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
    }

    .image-container {
        height: 200px;
    }

    .image-container img {
        object-fit: cover;
    }
}