<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/ChatGPT/chat_gpt.css">
	<title th:text="#{chat.title}">Faça uma Pergunta ao Chat GPT</title>
</head>

<body>

<div class="container">
	<h1 th:text="#{chat.h1}"><b>Em que posso ajudar?</b></h1>

	<form th:action="@{/enviar_pergunta_chat_gpt}" method="post">
		<div class="mb-3">
			<label for="pergunta" class="form-label" th:text="#{chat.pergunta}">Escreva sua pergunta:</label>
			<input class="form-control" type="text" name="pergunta" id="pergunta" required>
		</div>
		<p th:text="${var}" class="message" style="color: green;"><b></b></p>
		<button type="submit" class="btn btn-custom w-100" th:text="#{chat.botao}">Perguntar</button>
		<a th:href="@{/empresas}" class="btn btn-back w-100 mt-2" th:text="#{botao.voltar}">Voltar</a>
	</form>
</div>

</body>

</html>
